* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
body {
    background: linear-gradient(90deg, #1E130C 0%, #9A8478 100%);

}
header {
    display: flex;
    color: #fff;
    /* width: 100%; */
    padding: 10px;
    font-size: 20px;
}
.header_search {
    position: relative;
    margin-left: 20px;
}
.header_search input {
    padding: 5px 5px 5px 40px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
    border: none;
    width: 70%;
}
.header_search .fas {
    color: #ef715a;
    position: absolute;
    top: 10px;
    left: 10px;
}
.header_filter .fas {
    font-size: 25px;
    margin: 7px 0 0 10px;
}
.header_menu .fas {
    font-size: 25px;
    margin: 7px 0 0 10px;
}


.body_head {
    margin-top: 40px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    position: relative;
}
.body_head .fas {
    position: absolute;
    left: 20px;
    font-size: 25px;
}
.body_head span {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    font-size: 20px;
}

.goldsort {
    margin-top: 20px;
    font-size: 18px;
    color: #FF8008;
    margin-left: 20px;
}

.goodslist {
    padding: 20px;
}
.good {
    color: #fff;
    margin-bottom: 50px;
}
.good_picture {
    width: 150px;
    height: 100px;
    display: inline-block;
    
}
.good_picture img {
    width: inherit;
    height: inherit;
    border-radius: 15px;
}
.good_description {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.good_price {
    margin-top: 15px;
    font-weight: 600;
}
.good_amount {
    font-weight: 700;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 20px;
}
.good_operation {
    text-shadow: 0 0 10px #fff;
    /* background: rgba(196, 196, 196, 0.7); */
    filter: blur(1px);
    border-radius: 15px;
    font-size: 20px;
}
.good_info {
    text-align: center;
    margin-top: 5px;
}
/* Popups */
.popup {
    width: 100%;
    height: 100%;
    background: #f7f7ef;
    position: fixed;
    z-index: 100;
    overflow-y: scroll;
}
.popup .fas {
    color: #ef715a;
}
.popup_menu {
    margin: 20px 25px;
    font-size: 25px;
}
.popup_header {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.popup_body {
    padding-top: 10px;
    text-align: center;
    
}
.popup_body_end {
    background: #f7f7ef;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.choose_fullwidth {
    display: flex;
    
}
.choose_fullwidth_elem {
    color: #000;
    border-bottom: 1px solid #000;
    width: 50%;
    padding-bottom: 10px;
    cursor: pointer;
}
.choose_fullwidth_elem.active {
    border-bottom: 1px solid #ef715a;
    color: #ef715a;
    text-shadow: #000;
}

.avatar {
    
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}
.avatar_add {
    background: #ef715a;
    font-size: 33px;
    border-radius: 30px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 38px;
    height: 38px;
    color: #fff;
}
.avatar img {
    clip-path: circle(50% at 50% 50%);
    width: inherit;
    height: inherit;
}
/* Others */
.inputfolder {
    padding: 12px 8px;
    background: none;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 5px rgb(104, 104, 104);
    width: 260px;
    margin-bottom: 25px;
}
.inputfolder_outlined {
    padding: 12px 8px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(104, 104, 104);
    width: 260px;
    margin-bottom: 25px;
}
.redbutton {
    background: #ef715a;
    color: #fff;
    font-weight: 700;
    border:none;
    box-shadow: 0px 0px 5px #ef715a;
    padding: 12px 0;
    width: 275px;
    border-radius: 3px;
}
.graybutton {
    background: none;
    color: #000;
    font-weight: 700;
    border:none;
    border: 1px solid #000;
    padding: 12px 0;
    width: 275px;
    border-radius: 3px;
}
.infofolder {
    box-shadow: 0px 0px 5px rgb(104, 104, 104);
    background: none;
    border-radius: 2px;
    width: 280px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    color: rgb(194, 194, 194);
}
.infofolder .fas {
    margin: 6px;
    font-size: 25px;
}
