* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
body {
    background: linear-gradient(90deg, #1E130C 0%, #9A8478 100%);

}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0.1;
    background: url('../images/background.png') no-repeat;
    background-size: contain;
    background-position: center;
}
header {
    display: flex;
    color: #fff;
    /* width: 100%; */
    padding: 10px;
    font-size: 20px;
}
.header_search {
    position: relative;
    margin-left: 20px;
}
.header_search input {
    padding: 5px 5px 5px 40px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
    border: none;
    width: 70%;
}
.header_search .fas {
    color: #ef715a;
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 20px;
}
.header_filter .fas {
    font-size: 25px;
    margin: 5px 0 0 10px;
}
.header_menu .fas {
    font-size: 25px;
    margin: 5px 0 0 25px;
}


.body_head {
    margin-top: 40px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    position: relative;
}
.body_head .fa-arrow-left {
    position: absolute;
    left: 20px;
    font-size: 25px;
}
.body_head .fa-trash-alt {
    right: 20px;
    font-size: 25px;
    position: absolute;
}
.body_head span {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    font-size: 20px;
}

.goldsort {
    margin-top: 20px;
    font-size: 18px;
    color: #FF8008;
    margin-left: 20px;
}

.goodslist {
    padding: 10px;
}
.good {
    color: #fff;
    margin-bottom: 50px;

}
.good_choose {
    display: inline-block;
    transform: translateY(-35px);
}
.good_picture {
    width: 150px;
    height: 100px;
    display: inline-block;
    
}
.good_picture img {
    width: inherit;
    height: inherit;
    border-radius: 15px;
}
.good_description {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
}
.good_price {
    margin-top: 15px;
    font-weight: 600;
}
.good_amount {
    font-weight: 700;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 20px;
}
.good_operation {
    text-shadow: 0 0 10px #fff;
    /* background: rgba(196, 196, 196, 0.7); */
    filter: blur(1px);
    border-radius: 15px;
    font-size: 20px;
}
.good_info {
    text-align: center;
    margin-top: 5px;
}

.cataloglist {
    margin: 30px 20px;
}
.item {
    border-radius: 15px;
    width: 95px;
    height: 110px;
    margin-right: 13px;
    margin-top: 20px;
    color: #fff;
    display: inline-block;
    position: relative;
}
.item_picture {
    width: 95px;
    height: 65px;
    
}
.item_picture img {
    width: inherit;
    height: inherit;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.item_description {
    background: url('../images/wood.png') no-repeat;
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 95px;
    height: 45px;
}
.item_description .item_title {
    text-align: center;
    font-size: 15px;

}
.item_description .item_price {
    text-align: right;
    margin: 2px 5px 0 0;
    font-size: 10px;
}
.item_newitembadge {
    background: linear-gradient(180deg, #FF8008 0%, #FFC837 100%);
    color: #fff;
    position: absolute;
    top: -15px;
    left: -15px;
    border-radius: 30px;
    padding: 13px 5px;
}
.newproduct {
    margin: 20px;
    width: 330px;
    
    height: 60px;
}
.newproduct img {
    width: inherit;
    height: inherit;
}

.menu {
    width: 100%;
    height: 55px;
    background: rgba(39, 40, 34, 1);
    backdrop-filter: blur(5px);
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 25px;
}
.menu_point {
    width: 36%;
    margin: 13px 0 0 30px;
}
.menu_point.active {
    color: #ef715a;
    text-shadow: 0 0 5px #fff;
}
/* Popups */
.popup {
    width: 100%;
    height: 100%;
    background: #f7f7ef;
    position: fixed;
    z-index: 100;
    overflow-y: scroll;
}
.popup .fas {
    color: #ef715a;
}
.popup_menu {
    margin: 20px 25px;
    font-size: 25px;
}
.popup_header {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.popup_body {
    padding-top: 10px;
    text-align: center;
    
}
.popup_body_end {
    background: #f7f7ef;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.itempopup {
    position: fixed;
    top: 35px;
    left: 10px;
    z-index: 100;
    background: #191A16;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 34px;
    width: 95%;
    height: 85%;
}
.itempopup_picture {
    height: 156px;
    filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.3));
    width: 100%;
    position: relative;
}
.itempopup_picture img {
    width: inherit;
    height: inherit;
    border-radius: 34px;
}
.itempopup_close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    font-size: 30px;
}
.itempopup_description {
    color: #fff;
    padding: 20px 23px;

}
.itempopup_description_title {
    font-size: 18px;
}  
.itempopup_description_desc {
    font-size: 14px;
    margin-top: 20px;
} 
.itempopup_actions {
    color: #fff;
    font-size: 30px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;   
    width: 100%;
    margin-bottom: 15px;
    margin-left: 15px;
}
.itempopup_actions_elem {
    width: 18%;
    text-align: center;

}




.choose_fullwidth {
    display: flex;
    
}
.choose_fullwidth_elem {
    color: #000;
    border-bottom: 1px solid #000;
    width: 50%;
    padding-bottom: 10px;
    cursor: pointer;
}
.choose_fullwidth_elem.active {
    border-bottom: 1px solid #ef715a;
    color: #ef715a;
    text-shadow: #000;
}

.avatar {
    
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}
.avatar_add {
    background: #ef715a;
    font-size: 33px;
    border-radius: 30px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 38px;
    height: 38px;
    color: #fff;
}
.avatar img {
    clip-path: circle(50% at 50% 50%);
    width: inherit;
    height: inherit;
}
/* Others */
.inputfolder {
    padding: 12px 8px;
    background: none;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 5px rgb(104, 104, 104);
    width: 260px;
    margin-bottom: 25px;
}
.inputfolder_outlined {
    padding: 12px 8px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(104, 104, 104);
    width: 260px;
    margin-bottom: 25px;
}
.redbutton {
    background: #ef715a;
    color: #fff;
    font-weight: 700;
    border:none;
    box-shadow: 0px 0px 5px #ef715a;
    padding: 12px 0;
    width: 275px;
    border-radius: 3px;
}
.graybutton {
    background: none;
    color: #000;
    font-weight: 700;
    border:none;
    border: 1px solid #000;
    padding: 12px 0;
    width: 275px;
    border-radius: 3px;
}
.infofolder {
    box-shadow: 0px 0px 5px rgb(104, 104, 104);
    background: none;
    border-radius: 2px;
    width: 280px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    color: rgb(194, 194, 194);
}
.infofolder .fas {
    margin: 6px;
    font-size: 25px;
}
/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  }
  @-webkit-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  }
  @keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  }
  @keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 24px;
    }
  }
  @-webkit-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 24px;
    }
  }
  @-moz-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 24px;
    }
  }
  input[type=checkbox] {
    display: none;
  }
  
  .check-box {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
  }
  .check-box::before, .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 4px;
    background-color: #fff;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5;
    -moz-transition: opacity ease .5;
    transition: opacity ease .5;
  }
  .check-box::before {
    top: 14.4px;
    left: 8.2px;
    box-shadow: 0 0 0 1px #667788;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .check-box::after {
    top: 7.4px;
    left: 1px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  input[type=checkbox]:checked + .check-box,
  .check-box.checked {
    border-color: #fff;
  }
  input[type=checkbox]:checked + .check-box::after,
  .check-box.checked::after {
    height: 10px;
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards;
  }
  input[type=checkbox]:checked + .check-box::before,
  .check-box.checked::before {
    height: 24px;
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards;
  }
  